[submodule "nvim/.local/share/nvim/site/pack/kurapika/start/nvim-treesitter"]
	path = nvim/.local/share/nvim/site/pack/kurapika/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/.local/share/nvim/site/pack/kurapika/start/plenary.nvim"]
	path = nvim/.local/share/nvim/site/pack/kurapika/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/.local/share/nvim/site/pack/kurapika/start/neorg"]
	path = nvim/.local/share/nvim/site/pack/kurapika/start/neorg
	url = https://github.com/nvim-neorg/neorg
[submodule "nvim/.local/share/nvim/site/pack/kurapika/start/nvim-cmp"]
	path = nvim/.local/share/nvim/site/pack/kurapika/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "nvim/.local/share/nvim/site/pack/kurapika/start/cmp-path"]
	path = nvim/.local/share/nvim/site/pack/kurapika/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "nvim/.local/share/nvim/site/pack/kurapika/start/nvim-snippy"]
	path = nvim/.local/share/nvim/site/pack/kurapika/start/nvim-snippy
	url = https://github.com/dcampos/nvim-snippy
[submodule "nvim/.local/share/nvim/site/pack/kurapika/start/cmp-snippy"]
	path = nvim/.local/share/nvim/site/pack/kurapika/start/cmp-snippy
	url = https://github.com/dcampos/cmp-snippy
