[submodule "nvim/.local/share/nvim/site/pack/kurapika/start/nvim-treesitter"]
	path = nvim/.local/share/nvim/site/pack/kurapika/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
